* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.app {
  width: 80%;
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 600px;
  min-height: 100vh;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px 3px #aaaaaa;
  font-family: 'Roboto', 'Segoe UI', Verdana, sans-serif;
}
